* {
    padding: 0%;
    margin: 0;
    font-size: 40px;
}


.Box-1 {
    background-color: red;
    border: 20px solid plum;
    padding: 20px; 
    height: 100px;
    width: 100px;
    margin: 20px;
    
}

.Box-2 {
    background-color: blue;
    border: 0 solid green;
    padding: 20px;
    height: 100px;
    width: 100px;
    border: 20px solid plum;
    margin: 60px;
    
}

